body{
    background-image: url("img/Mikey2.png");
    background-attachment: fixed;
}
h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: red;
    background-color: yellow;
    direction: rtl;
    letter-spacing: 50px;
    word-spacing: 500px;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    text-shadow: 4px 4px 1px black;
}
div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-left: 4px solid black;
    border-right: 4px dashed black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 0;
}
img{
    height: 100px;
    width: 100px;
    background-color: red;
    border-left: 4px solid black;
    border-right: 4px dashed black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}