*{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
.outer{
    height: 200px;
    width: 200px;
    font-size: 25px;
    background-color: red;
    padding: 10px;
}
.inner{
    background-color: aqua;
    font-size: 15px;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 10px;
}