*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 80px;
}
body{
    background-color: grey;
}
div{
    width: 660px;
    align-items: center;
    margin-left: 480px;
    background-color: rgb(177, 170, 170);
    border-radius: 157px;
    box-shadow: 4px 2px 60px black;
}
h1{
    text-align: center;
}

